# Cấu hình gửi mail SMTP (Gmail)
SMTP_USER=YOUR_EMAIL@gmail.com
SMTP_PASS=YOUR_APP_PASSWORD

# Tên miền website (Để trống để tự động nhận diện, hoặc nhập đường dẫn ngrok của bạn khi test webhook cổng thanh toán)
# Ví dụ: PAYMENT_BASE_URL=https://xxxx.ngrok-free.app
PAYMENT_BASE_URL=

# Cấu hình cổng thanh toán VNPay Sandbox
VNP_TMNCODE=2QX2Z514
VNP_HASHSECRET=GETPZVUYVQXWJVWYVQXWJVWYVQXWJVWY

# Cấu hình cổng thanh toán MoMo Sandbox
MOMO_PARTNER_CODE=MOMOBKUN20180810
MOMO_ACCESS_KEY=klm05UttAyIuMlpA
MOMO_SECRET_KEY=atu8S907722A6335
